
<section class="flex content-wrapper">

  <section class="flex content-wrapper content">
    <h3 class="hidden">content</h3>
    <div class="example content-container">
      There have some images
    </div>
    <article class="explanation content-container">
      <h3>This is titlertyfhd</h3>
      <p>This is paragrzbzbxbxcxcvcxvxczzxcvzvxcvcaph</p>
      <p>This is paragraph</p>
    </article>
  </section>
</section>
