
<section class="flex content-wrapper">

  <section class="flex content-wrapper content">
    <h3 class="hidden">content</h3>
    <div class="example content-container" id="main-content">
    </div>
  </section>
</section>
