
<section class="flex content-wrapper">
  <h2 class="hidden">study on this week</h2>
  <nav class="flex sidebar content-container">
    <h3 class="hidden">study topics</h3>
    <ul class="detail-topics" id="week1-details">
      <li><a href="#">HTML/CSS/JavaScript</a></li>
      <li><a href="#">Bootstrap</a></li>
      <li><a href="#">숙제</a></li>
    </ul>
  </nav>

  <section class="flex content-wrapper content" id="weekly-content">
    <h3 class="hidden">content</h3>
    <div class="example content-container">
      There have some images
    </div>
    <article class="explanation content-container">
      <h3>This is title for Week1</h3>
      <p>This is paragraph</p>
      <p>This is paragraph</p>
    </article>
  </section>
</section>
